<div class="container">
<br>
  <form id="update_tweet" action="/update_tweet" method="post">
    <input type="text" id="tweet_text" name="tweet_text" placeholder="tweet away">
    <input type="submit" id="submit-tweet-button" value="submit tweet">
    <center><div id="ajax-loader" style="display: none"><img src='/image/ajax-loader.gif'></img></div></center>
  </form> 
</div>
